{% extends 'crud/base.html' %}
{% block body %}

{% comment %} Delete buttom href {% endcomment %}
{% block content %}
    <script> 
      function showAlert(e) {
            var confirmAction = confirm ("Are you sure you want to delete?");
            if(confirmAction==true){
                window.location = '/crud/delete/'+e;
                }
            }
    </script>
{% endblock %}


<form class="form-inline"  action="create" method="POST">
    {% csrf_token %}
    
      <div class="row">
          <div class="col-sm-1"><label for="firstname">Firstname</label></div>
          <div class="col-sm-3"><input type="text" name="firstname" class="form-control" required="required"/></div>
          <div class="col-sm-1"> <label for="lastname">Lastname</label></div>
          <div class="col-sm-3"> <input type="text" name="lastname" class="form-control" required="required"/></div>
          <div class="col-sm-1"><label for="address">Address</label></div>
          <div class="col-sm-3"> <input type="text" name="address" class="form-control" required="required"/></div>
      </div>       
      <div class="row text-center"> <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> ADD</button>
      </div>
        
   
{% comment %} Edit & Delete button Action Perform {% endcomment %}
</form>
<br />
<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>Actions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.firstname }}</td>
            <td>{{ member.lastname }}</td>
            <td>{{member.address}}</td>
          
            {% comment %} Delete buttom {% endcomment %}
            <td><center> <a class="btn btn-sm btn-danger"  onClick="showAlert({{ member.id }})" href="javascript:void(0)">
            <span class="glyphicon glyphicon-trash"></span>Delete</a></center></td>
                    
                       
            {% comment %} Edit buttom  {% endcomment %}
            <td><center> <a class="btn btn-sm btn-warning" href="edit/{{ member.id }}">
            <span class="glyphicon glyphicon-edit"></span>Edit</a></center></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


